<h1>Product: <%= @product.prod_name %></h1>
<h2>Reviewer: <%= @review.author %></h2>
<h2>Product Review: <%= @review.content_body %></h2>
<h2>Rating out of 5: <%= @review.rating %></h2>




<p><%= link_to "Return to product", product_path(@product) %></p>
